@use "@/styles/variables" as *;
@use "@/styles/globals";


:root {
    color-scheme: light;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-family;
    background: $bg;
    color: $text;
}
